html, body { height: 100%; }
body { margin: 0; padding: 0; }
header, footer, section { margin: 0; }
img { max-width: 100%; height: auto; vertical-align: middle; }
table { width: 100%; border-collapse: collapse; word-break: break-all; }
ul, ol, dl, dd { padding: 0; margin: 0; }
ul li { list-style: none; }
h1, h2, h3, h4, h5, h6, p { margin: 0; line-height: normal; }
a { text-decoration: none; }
a:link, a:visited, a:active { color: #000; }
a:hover { color: #000; }
address { font-style: normal; }
input[type=checkbox], input[type=radio] { vertical-align: middle; }
.f-left { float: left; }
.f-right { float: right; }
.clear { clear: both; }
.f-bold { font-weight: bold; }
.f-italic { font-style: italic; }
.t-center { text-align: center; }
.t-left { text-align: left !important; }
.t-right { text-align: right !important; }
.t-red { color: red; }
.li-link, .div-link { cursor: pointer; }
.hide { display: none; }
.show { display: block; }
.d-inline { display: inline; }
.margin-t-5 { margin-top: 5px !important; }
.margin-t-10 { margin-top: 10px !important; }
.margin-t-15 { margin-top: 15px !important; }
.margin-t-20 { margin-top: 20px !important; }
.margin-t-25 { margin-top: 25px !important; }
.margin-t-30 { margin-top: 30px !important; }
.margin-t-35 { margin-top: 35px !important; }
.margin-t-40 { margin-top: 40px !important; }
.margin-t-45 { margin-top: 45px !important; }
.margin-t-50 { margin-top: 50px !important; }
.margin-r-5 { margin-right: 5px !important; }
.margin-r-10 { margin-right: 10px !important; }
.margin-r-15 { margin-right: 15px !important; }
.margin-r-20 { margin-right: 20px !important; }
.margin-r-25 { margin-right: 25px !important; }
.margin-r-30 { margin-right: 30px !important; }
.margin-r-35 { margin-right: 35px !important; }
.margin-r-40 { margin-right: 40px !important; }
.margin-r-45 { margin-right: 45px !important; }
.margin-r-50 { margin-right: 50px !important; }
.margin-b-5 { margin-bottom: 5px !important; }
.margin-b-10 { margin-bottom: 10px !important; }
.margin-b-15 { margin-bottom: 15px !important; }
.margin-b-20 { margin-bottom: 20px !important; }
.margin-b-25 { margin-bottom: 25px !important; }
.margin-b-30 { margin-bottom: 30px !important; }
.margin-b-35 { margin-bottom: 35px !important; }
.margin-b-40 { margin-bottom: 40px !important; }
.margin-b-45 { margin-bottom: 45px !important; }
.margin-b-50 { margin-bottom: 50px !important; }
.margin-l-5 { margin-left: 5px !important; }
.margin-l-10 { margin-left: 10px !important; }
.margin-l-15 { margin-left: 15px !important; }
.margin-l-20 { margin-left: 20px !important; }
.margin-l-25 { margin-left: 25px !important; }
.margin-l-30 { margin-left: 30px !important; }
.margin-l-35 { margin-left: 35px !important; }
.margin-l-40 { margin-left: 40px !important; }
.margin-l-45 { margin-left: 45px !important; }
.margin-l-50 { margin-left: 50px !important; }
.padding-t-5 { padding-top: 5px !important; }
.padding-t-10 { padding-top: 10px !important; }
.padding-t-15 { padding-top: 15px !important; }
.padding-t-20 { padding-top: 20px !important; }
.padding-t-25 { padding-top: 25px !important; }
.padding-t-30 { padding-top: 30px !important; }
.padding-t-35 { padding-top: 35px !important; }
.padding-t-40 { padding-top: 40px !important; }
.padding-t-45 { padding-top: 45px !important; }
.padding-t-50 { padding-top: 50px !important; }
.padding-r-5 { padding-right: 5px !important; }
.padding-r-10 { padding-right: 10px !important; }
.padding-r-15 { padding-right: 15px !important; }
.padding-r-20 { padding-right: 20px !important; }
.padding-r-25 { padding-right: 25px !important; }
.padding-r-30 { padding-right: 30px !important; }
.padding-r-35 { padding-right: 35px !important; }
.padding-r-40 { padding-right: 40px !important; }
.padding-r-45 { padding-right: 45px !important; }
.padding-r-50 { padding-right: 50px !important; }
.padding-b-5 { padding-bottom: 5px !important; }
.padding-b-10 { padding-bottom: 10px !important; }
.padding-b-15 { padding-bottom: 15px !important; }
.padding-b-20 { padding-bottom: 20px !important; }
.padding-b-25 { padding-bottom: 25px !important; }
.padding-b-30 { padding-bottom: 30px !important; }
.padding-b-35 { padding-bottom: 35px !important; }
.padding-b-40 { padding-bottom: 40px !important; }
.padding-b-45 { padding-bottom: 45px !important; }
.padding-b-50 { padding-bottom: 50px !important; }
.padding-l-5 { padding-left: 5px !important; }
.padding-l-10 { padding-left: 10px !important; }
.padding-l-15 { padding-left: 15px !important; }
.padding-l-20 { padding-left: 20px !important; }
.padding-l-25 { padding-left: 25px !important; }
.padding-l-30 { padding-left: 30px !important; }
.padding-l-35 { padding-left: 35px !important; }
.padding-l-40 { padding-left: 40px !important; }
.padding-l-45 { padding-left: 45px !important; }
.padding-l-50 { padding-left: 50px !important; }
#overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #090f1b;
	opacity: .8;
	z-index: 10000;
	display: none;
}
#overlay .loading {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
}