html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: "맑은 고딕";
	font-style: normal;
	font-weight: 400;
	color: #000;
}
#wrap {
	width: 100%;
	height: 100%;
}
.contents-wrap {
	position: relative;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}
header {
	display: table;
	width: 100%;
	height: 300px;
	background-color: #202124;
}
header > div {
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	text-align: center;
}
header img {
	margin-bottom: 5px;
}


.main-h3 {
	font-size: 1.75rem;
	margin-top: 2rem;
}
.main-dl {
	margin-top: 0.75rem;
}
.main-dl a {
	font-size: 1.25rem;
	color: blue;
}
.main-dl dt {
	font-size: 1.25rem;
	font-weight: bold;
	padding: 0.25rem;
	border-bottom: solid 1px #202124;
}
.main-dl dt.on {
	border-bottom: none;
	background-color: #ffeeee;
}
.main-dl dt:hover {
	background-color: #ffeeee;
	cursor: pointer;
}
.main-dl dd {
	display: none;
	background-color: #ffeeee;
	border-bottom: solid 1px #202124;
	padding: 0.25rem 0.25rem 3rem 0.25rem;
}